flows (1).json
[{"id":"74f9f44b.fdeebc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7e7cc250.78237c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"25169b8.1bef364","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#715676","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#715676","edited":true},"page-titlebar-backgroundColor":{"value":"#715676","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#997a9e","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#715676","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fe26bcf9.aa98f","type":"ui_group","name":"","tab":"","order":1,"disp":true,"width":"7","collapse":false},{"id":"6230facd.2469f4","type":"ui_group","name":"heart attack prediction ","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"547d8386.d7078c","type":"ui_spacer","z":"7e7cc250.78237c","name":"spacer","group":"fe26bcf9.aa98f","order":3,"width":3,"height":1},{"id":"150eb136.d2032f","type":"ui_spacer","z":"7e7cc250.78237c","name":"spacer","group":"fe26bcf9.aa98f","order":5,"width":3,"height":1},{"id":"a5d05f64.ba9e6","type":"ui_tab","name":"AI-GARAGE","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"616b3447.4b6c8c","type":"ui_group","name":"Group 1","tab":"a5d05f64.ba9e6","order":1,"disp":false,"width":"6","collapse":false},{"id":"601905cf.33511c","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"349267d4.e45448","type":"ui_spacer","z":"7e7cc250.78237c","name":"spacer","group":"616b3447.4b6c8c","order":10,"width":2,"height":1},{"id":"dcbc3db2.48d","type":"ui_spacer","z":"7e7cc250.78237c","name":"spacer","group":"616b3447.4b6c8c","order":12,"width":3,"height":1},{"id":"61b655fc.ca3fdc","type":"ui_form","z":"7e7cc250.78237c","name":"","label":"","group":"616b3447.4b6c8c","order":8,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"KM driven","value":"km","type":"number","required":true,"rows":null},{"label":"Fuel Type","value":"fuel","type":"text","required":true,"rows":null},{"label":"Transmission","value":"transmission","type":"text","required":true,"rows":null},{"label":"Owner","value":"owner","type":"text","required":true,"rows":null},{"label":"Seller Type","value":"seller","type":"text","required":true,"rows":null}],"formValue":{"name":"","year":"","km":"","fuel":"","transmission":"","owner":"","seller":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"x":110,"y":280,"wires":[["47a311b7.c47ff","d62a8be0.a98ed8","618851b4.cb857"]]},{"id":"47a311b7.c47ff","type":"debug","z":"7e7cc250.78237c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":220,"wires":[]},{"id":"d62a8be0.a98ed8","type":"function","z":"7e7cc250.78237c","name":"pre-token","func":"global.set(\"a\",msg.payload.year)\nglobal.set(\"b\",msg.payload.km)\nglobal.set(\"c\",msg.payload.fuel)\nglobal.set(\"d\",msg.payload.transmission)\nglobal.set(\"e\",msg.payload.owner)\nglobal.set(\"f\",msg.payload.seller)\nglobal.set(\"g\",msg.payload.name)\nvar apikey=\"0SzrAySg7INcSZQhgx4Ls6zpf-vW2K7mv4Y43f3tFoGw\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":280,"wires":[["27bce76d.42aea8"]]},{"id":"27bce76d.42aea8","type":"http request","z":"7e7cc250.78237c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":360,"wires":[["c301f265.6cca6","676b1308.457dac"]]},{"id":"c301f265.6cca6","type":"debug","z":"7e7cc250.78237c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":60,"wires":[]},{"id":"676b1308.457dac","type":"function","z":"7e7cc250.78237c","name":"Pre Prediction","func":"var a  = global.get(\"a\")\nvar b = global.get(\"b\")\nvar c = global.get(\"c\")\nvar d = global.get(\"d\")\nvar e = global.get(\"e\")\nvar f = global.get(\"f\")\nvar g = global.get(\"g\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\n\t\t\t\t\"name\",\n\t\t\t\t\"year\",\n\t\t\t\t\"km_driven\",\n\t\t\t\t\"fuel\",\n\t\t\t\t\"seller_type\",\n\t\t\t\t\"transmission\",\n\t\t\t\t\"owner\"\n\t\t\t]],\n\t\t\t\"values\": [\n\t\t\t\t[\n\t\t\t\t\tg,\n\t\t\t\t\ta,\n\t\t\t\t\tb,\n\t\t\t\t\tc,\n\t\t\t\t\tf,\n\t\t\t\t\td,\n\t\t\t\t\te\n\t\t\t\t]\n\t\t\t]\n    \n}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":460,"wires":[["d6ba50e5.cb0d"]]},{"id":"d6ba50e5.cb0d","type":"http request","z":"7e7cc250.78237c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/8f47b9ae-c861-4990-b0bd-3e06d56c2ccf/predictions?version=2021-08-20","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":540,"wires":[["20450924.07df26","bae00327.ca68b"]]},{"id":"20450924.07df26","type":"debug","z":"7e7cc250.78237c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":360,"wires":[]},{"id":"c6a59e60.eed4","type":"debug","z":"7e7cc250.78237c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":580,"wires":[]},{"id":"2041f593.4d0baa","type":"ui_text","z":"7e7cc250.78237c","group":"616b3447.4b6c8c","order":9,"width":0,"height":0,"name":"","label":"The resale value of your car will be around ","format":"{{msg.payload}}₹","layout":"col-center","x":1120,"y":640,"wires":[]},{"id":"bae00327.ca68b","type":"function","z":"7e7cc250.78237c","name":"","func":"var p=msg.payload.predictions[0].values[0][0]\np=p*100\np=p.toFixed(1)\nmsg.payload=p\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":500,"wires":[["c6a59e60.eed4","2041f593.4d0baa"]]},{"id":"618851b4.cb857","type":"change","z":"7e7cc250.78237c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":360,"wires":[["61b655fc.ca3fdc"]]},{"id":"7a9196f7.4ef028","type":"ui_template","z":"7e7cc250.78237c","group":"fe26bcf9.aa98f","name":"","order":4,"width":1,"height":1,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/40437.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n\n    \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":210,"y":500,"wires":[[]]},{"id":"9370eab0.0456a8","type":"ui_button","z":"74f9f44b.fdeebc","name":"","group":"616b3447.4b6c8c","order":1,"width":3,"height":1,"passthru":false,"label":"DOOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"4\"}","payloadType":"json","topic":"topic","topicType":"msg","x":650,"y":200,"wires":[["73de31f5.bc397","d8e6578d.27ac68"]]},{"id":"30c6fbed.a10614","type":"ui_button","z":"74f9f44b.fdeebc","name":"","group":"616b3447.4b6c8c","order":2,"width":3,"height":1,"passthru":false,"label":"DOOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"3\"}","payloadType":"json","topic":"topic","topicType":"msg","x":650,"y":160,"wires":[["73de31f5.bc397","d8e6578d.27ac68"]]},{"id":"38b369ea.0be6b6","type":"ui_template","z":"74f9f44b.fdeebc","group":"616b3447.4b6c8c","name":"","order":11,"width":1,"height":1,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/266568.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n\n    \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":160,"y":460,"wires":[[]]},{"id":"73de31f5.bc397","type":"debug","z":"74f9f44b.fdeebc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":260,"wires":[]},{"id":"eb85381.300b6c8","type":"ui_button","z":"74f9f44b.fdeebc","name":"","group":"616b3447.4b6c8c","order":3,"width":3,"height":1,"passthru":false,"label":"Light ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"1\"}","payloadType":"json","topic":"topic","topicType":"msg","x":660,"y":260,"wires":[["9a31e420.ec6d38","d8e6578d.27ac68"]]},{"id":"bdf7fb9.2114008","type":"ui_button","z":"74f9f44b.fdeebc","name":"","group":"616b3447.4b6c8c","order":4,"width":3,"height":1,"passthru":false,"label":"Light OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"2\"}","payloadType":"json","topic":"topic","topicType":"msg","x":660,"y":300,"wires":[["9a31e420.ec6d38","d8e6578d.27ac68"]]},{"id":"9a31e420.ec6d38","type":"debug","z":"74f9f44b.fdeebc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":300,"wires":[]},{"id":"d8e6578d.27ac68","type":"ibmiot out","z":"74f9f44b.fdeebc","authentication":"apiKey","apiKey":"601905cf.33511c","outputType":"cmd","deviceId":"abc","deviceType":"abc","eventCommandType":"new","format":"json","data":"new","qos":0,"name":"IBM IoT","service":"registered","x":880,"y":200,"wires":[]},{"id":"66a31f77.480a4","type":"ui_button","z":"74f9f44b.fdeebc","name":"","group":"616b3447.4b6c8c","order":5,"width":0,"height":0,"passthru":false,"label":"GET IMAGE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"https://agnobucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/2.jpeg","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":400,"wires":[["b5749b6c.d1df98"]]},{"id":"970f886f.f65a28","type":"ui_template","z":"74f9f44b.fdeebc","group":"616b3447.4b6c8c","name":"","order":6,"width":6,"height":4,"format":"<img width=\"400\" height=\"400\" src={{msg.payload}} alt='Image not found'  />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":500,"wires":[[]]},{"id":"5435ceb.142cf3","type":"ui_text","z":"74f9f44b.fdeebc","group":"616b3447.4b6c8c","order":7,"width":0,"height":0,"name":"","label":"Car Resale value prediction","format":"{{msg.payload}}","layout":"col-center","x":420,"y":220,"wires":[]},{"id":"834839c6.e4f818","type":"inject","z":"74f9f44b.fdeebc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":300,"wires":[[]]},{"id":"b5749b6c.d1df98","type":"http request","z":"74f9f44b.fdeebc","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":440,"wires":[["ae9e9ff6.4f1c4"]]},{"id":"ae9e9ff6.4f1c4","type":"function","z":"74f9f44b.fdeebc","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":440,"wires":[["970f886f.f65a28"]]}]